extends layout

block content
  h1= title
  p Welcome to #{title}


  block content
  .main.container
        // export form
        form(method='POST' action='/export')
          div.form-group
            textarea(cols="30", rows="10", placeholder='Description' name='description')
          button.btn.btn-primary(type='submit') Export
